* {
    font-family: 'Roboto', sans-serif;
}

:root {
    box-sizing: 0;
    --logoGreen: #235327;
    --primaryGreen: #70C174;
    --secondaryGreen: #BEF3C0;
    --tertiaryGreen: #EFF7F2;
    --primaryDark: #0B0706;
    --secondaryDark: #1D2130;
    --tertiaryDark: #525560;
    --primaryLight: #EBF0F9;
    /*--secondaryLight: #E5E5E5;*/
    --secondaryLight: #fff;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 1rem;
    background: url(https://res.cloudinary.com/df6hxb2wx/image/upload/v1667232986/ESA-Bookley/InfoSection/alexander-grey-eMP4sYPJ9x0-unsplash_b0zsal.jpg
) center bottom;
    background-size: cover;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    
}

.wrapperRegister {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    /*margin: auto;*/
    margin-top: 3rem;
    width: 60%;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.leftRegister {
    display: flex;
    flex: 1;
    padding: 2rem;
    /*flex-direction: column;*/
    /*background-color: var(--secondaryGreen);*/
    background-color: #bef3c0ab;
}
.waizerd {
    display: flex;
    flex-direction: column;
}
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; 

}
.circle-wrapper {
    display: flex;
    flex-direction: column;
}
.circle {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 3rem;  
    background-color: var(--tertiaryDark);
}

.active-circle {
    background-color: var(--primaryGreen);
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.circle-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primaryLight);
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-style: italic;
    margin-left: 4rem;
}
.rightRegister {
    display: flex;
    flex:2;
    padding: 3rem;
    justify-content: center;
    background: rgb(0,0,0,0.2);
}
.titleRegister{
   display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primaryGreen);
}
.titleRegister a{
   color: var(--primaryGreen);
    font-weight: bold;
}
a{
    color:var(--primaryDark);
    margin-left: 3rem;
    text-decoration: none;
}
.myForm {
    justify-content: center;
    padding: 1rem;
  
}
.registerInfo {
    display: none;
}

.active {
    display: block !important;
}

.row-form {
    margin-bottom: 1.5rem;
}

.row-form,
.group-form {
    display: flex;
}
.row-form,
.group-form,
.hold {
    width: 100%;
    margin-right: 25px;
}
.hold {
    position: relative; 
}
input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}
.row-form .hold span {
    position: absolute;
    top: 0.1rem;
    left: 10px;
    font-size: 14px;
    transition: all 0.3s;
}

.row-form input:focus~span,
.row-form input:valid~span,
.row-form input:not([value=''])~span{
    top: -1rem;
    left: 0;
    font-size: 12px;
    font-weight: 500;
     color:var(--logoGreen);
}
select {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 0.1rem solid;
    outline: none;
}
select option{
    color:#525560;
    
    
}
select option:checked{
    background:linear-gradient(rgba(187, 164, 32, 0),rgba(2, 156, 156, 0));
    background-color:var(--primaryGreen) !important;
    color:var(--primaryLight) !important
}
.row-form select:focus~span,
.row-form select:valid~span ,
.row-form input:not([value=''])~span{
    top: -1rem;
    left: 0;
    font-size: 12px;
    font-weight: 500;
     color:var(--logoGreen);
}
.buttonSubmit {
    display: flex;
    justify-content: space-between;
}

.buttonSubmit button {
   /* position: relative;
    border: none;
    background: var(--primaryGreen);
    width: 5rem;
    height: 2rem;
    color: var(--primaryLight);
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    cursor: pointer;*/
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem ;
    width: fit-content;
    margin-top: 0.5rem;
    background: var(--primaryGreen);
    color: var(--primaryLight);
}
button:hover{
   /* background:var(--tertiaryDark) ;
    color:var(--primaryGreen);*/
    background-color: var(--primaryGreen);
    color: var(--secondaryLight);
}
.row-form .hold small {
    position: absolute;
    top: 0.1rem;
    font-size: 14px;
    transition: all 0.3s;
}

input[type="checkbox"]:checked {
    accent-color: var(--primaryGreen);
}
option[value=""]{
    display: none;
}
.TermsPolicy{
    display: flex;
}
.TermsPolicy input{
    width: 1rem;
}
.RegisterLinks{
    margin: 0; 
     font-weight: bold;
}
.icons{
    display: flex;
    flex-direction: row;
    flex:1;
    align-content: space-between;
}
.eyeIcon{
    margin: 0;
    right: 0;
    cursor: pointer;
}
.error-message {
    color: red;
    font-size: 80%;
    margin-top: 5px;
    display: none;
}
/*select.docrated option:hover{
    box-shadow: 0 0 10px 100px red inset;
}*/

.dr1 select2-results__option select2-results__option--highlighted {
    background: var(--tertiaryGreen) !important;
 }