:root {
    box-sizing: 0;
    --logoGreen: #235327;
    --primaryGreen: #70C174;
    --secondaryGreen: #BEF3C0;
    --tertiaryGreen: #EFF7F2;
    --primaryDark: #0B0706;
    --secondaryDark: #1D2130;
    --tertiaryDark: #525560;
    --primaryLight: #EBF0F9;
    /*--secondaryLight: #E5E5E5;*/
    --secondaryLight: #fff;
}
body{
    height: 100vh;
}
.containerAdd {
    display: flex;
    flex-direction: column;
    background: #70C174;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    color: white;
    position: relative;
}

.wrapperAdd {
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    background: white;
    margin-bottom: 2rem;
}
.leftListing {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem;
}
.Div {
    width: 10rem;
    height: 15rem;
    border: 1px solid green;
}

.rightListiong {
    display: flex;
    padding: 3rem;


}

.myform {
    display: flex;
    flex-direction: column;
    align-content: space-around;

}

img {
    width: 100%;
    height: 100%;
}

form>* {
    margin: 0.3rem;
}

textarea {
    resize: none;
    outline: none;
    border: 1px solid #70C174;
}

textarea:focus {
    border: 1px solid #70C174;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span {
    color: green;
}

.rightListiong input {
    border: 1px solid transparent;
    border-bottom: 1px solid #70C174;
}

.rightListiong input:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background: var(--primaryGreen);
    color: var(--primaryLight);
}
button:hover{
    /*background:var(--tertiaryDark) ;
    color: var(--primaryGreen);*/
    background-color: var(--primaryGreen);
    color: var(--secondaryLight);
}

input[type="radio"] {
    accent-color: green;
    margin-left: 2rem;
}

select {
    border: none;
    border-bottom: 1px solid #70C174;
    outline: none;
}

.Condition {
    display: flex;
    flex-direction: row;
}

input[type="file"] {}

.line {
    position: absolute;
    top: 3rem;
    width: 7rem;
    border-bottom: 1px solid black;
}