* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --logoGreen: #235327;
  --primaryGreen: #70c174;
  --secondaryGreen: #bef3c0;
  --tertiaryGreen: #eff7f2;
  --primaryDark: #0b0706;
  --secondaryDark: #1d2130;
  --tertiaryDark: #525560;
  --primaryLight: #ebf0f9;
  /* --secondaryLight: #E5E5E5; */
  --secondaryLight: #fff;
}

.categoryPageLeftBar {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoryPageLeftBar > * {
  margin-bottom: 1rem;
}

.categoryPageItems {
  margin-left: 15rem;
  padding: 2rem;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.cardsPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
/* Card */

.myBookCardContainer {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  color: var(--primaryGreen);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 18rem;
  max-height: 18rem;
  min-width: 12rem;
  max-width: 12rem;
  overflow: hidden;
  box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.6);
}

.myBookCardImgContainer {
  display: flex;
  height: 10rem;
  justify-content: center;
  transition: all ease-in-out 0.6s;
}
.bookCardImg {
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.myBookCardImgContainer:hover {
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
  transform: rotateY(10deg);
  transform: scale(1.05);
}
.myBookCardTitle {
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}
.myBookCardBot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--primaryGreen);
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
}

.bookCardAuthorContainer,
.bookCardCatContainer,
.bookCardPtsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  margin-top: 0.1rem;
  justify-content: center;
  border: 0.1rem solid transparent;
}
.bookCardAuthorContainer,
.bookCardCatContainer {
  border-right: 0.1rem solid var(--tertiaryDark);
}

/* ******************************************************** */
/* Search Left Bar */

.searchSectionLB {
  position: relative;
  margin-top: 1.5rem;
}
.balloon {
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: #efefef;
  border: 0;
  outline: 0;
  text-indent: 1.75rem;
  transition: all 0.3s ease-in-out;
}
.balloon + label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  bottom: 0.5rem;
  padding: 0.3rem 1rem;
  font-size: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.balloon + label:after {
  position: absolute;
  content: "";

  top: 100%;
  left: 50%;

  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);

  transition: all 0.3s ease-in-out;
}

.balloon:focus,
.balloon:active {
  color: var(--primaryDark);
  text-indent: 0;
  background: var(--primaryLight);
}

.balloon:focus + label,
.balloon:active + label {
  color: var(--primaryLight);
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: var(--primaryGreen);

  transform: translateY(-2.5rem);
}
.balloon:focus + label:after,
.balloon:active + label:after {
  border-top: 4px solid var(--primaryGreen);
}

/*  Sort Left Bar */
.sortSectionLB {
  width: 100%;
}
.sortSectionLBForm {
  position: relative;
  font-size: 1rem;
}
.inputGroup {
  background-color: #efefef;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  position: relative;
}
.inputGroup label {
  padding: 0.25rem 0.25rem;
  width: 100%;
  display: block;
  text-align: left;
  color: var(--primaryDark);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  content: "";
  background-color: var(--primaryGreen);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 1rem;
  height: 1rem;
  content: "";
  border: 2px solid var(--tertiaryDark);
  background-color: var(--primaryLight);
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: var(--primaryGreen);
  border-color: var(--secondaryGreen);
}
.inputGroup input {
  width: 1rem;
  height: 1rem;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 0;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.minimizeSort,
.maximizeSort {
  position: absolute;
  right: 1rem;
  top: -0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primaryGreen);
  cursor: pointer;
}
#sortOptions {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}
.minimizeSort {
  display: none;
}

/*  Filter Left Bar */
.filterSectionLB {
  width: 100%;
}
.filterSectionLBForm {
  position: relative;
  font-size: 1rem;
}
.inputGroupFilters {
  background-color: #efefef;
  /* display: block; */
  width: 100%;
  margin-bottom: 0.25rem;
  /* position: relative; */
  /* TEST */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.inputGroupFilters label {
  /* padding: 0.25rem 0.25rem; */
  padding: 0.25rem;
  width: 100%;
  display: block;
  text-align: left;
  color: var(--primaryDark);
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroupFilters label:before {
  width: 1rem;
  height: 1rem;
  /* border-radius: 50%; */
  content: "";
  background-color: var(--primaryGreen);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroupFilters label:after {
  width: 1rem;
  height: 1rem;
  content: "";
  border: 2px solid var(--tertiaryDark);
  background-color: var(--primaryLight);
  /* border-radius: 50%; */
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroupFilters input:checked ~ label {
  color: #fff;
}
.inputGroupFilters input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroupFilters input:checked ~ label:after {
  background-color: var(--primaryGreen);
  border-color: var(--secondaryGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}
.inputGroupFilters input {
  width: 1rem;
  height: 1rem;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 1rem;
  top: 0;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.minimizeSort,
.maximizeSort {
  position: absolute;
  right: 1rem;
  top: -0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primaryGreen);
  cursor: pointer;
}
#sortOptions {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}
.minimizeSort {
  display: none;
}
